@using Aula1AspNetMVC.Models
@model Aula1AspNetMVC.Models.Client

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <p>@Model.Name</p>
    <p>@Model.Surname</p>
    <p>@Model.CreatedDate</p>
</div>

@{
    var client = ViewBag.Client;
    <p><b>@client.Name</b></p>
}

@{
    var client2 = ViewData["Client"] as Client;
    <p><b>@client2.Name</b></p>
}